<ion-header>
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-searchbar placeholder="Buscar Pokémon" (ionInput)="buscarPokemon($event)">
  </ion-searchbar>

  @if (sugestoes.length > 0) {
  <ion-list>
    @for (pokemon of sugestoes; track pokemon.name) {
    <ion-item button (click)="selecionarPokemon(pokemon)">
      <ion-label>{{ pokemon.name }}</ion-label>
    </ion-item>
    }
  </ion-list>
  }

  @if (buscaSemResultado) {
  <p class="mensagem">Nenhum Pokémon encontrado.</p>
  }

  @if (carregando) {
  <p class="mensagem">Carregando Pokémon...</p>
  }

  @if (erroCarregamento) {
  <p class="mensagem erro">
    Não foi possível carregar os Pokémon.
  </p>
  }

  @if (!carregando && !erroCarregamento) {
  <ion-grid>
    <ion-row>

      @for (pokemon of pokemonsFiltrados; track pokemon.name) {

      <ion-col size="6" size-md="4" size-lg="3">

        <ion-card class="pokemon-card" [ngClass]="obterClasseTipo(pokemon)" (click)="abrirDetalhes(pokemon.id)">
          <ion-button fill="clear" class="favorito-card" (click)="alternarFavoritoCard($event, pokemon)"
            [attr.aria-label]="pokemon.favorito ? 'Remover dos favoritos' : 'Adicionar aos favoritos'">

            <ion-icon slot="icon-only" [name]="pokemon.favorito ? 'heart' : 'heart-outline'">
            </ion-icon>

          </ion-button>
          <span class="pokemon-id">
            #{{ pokemon.id }}
          </span>

          <ion-img [src]="pokemon.imageUrl" [alt]="pokemon.name">
          </ion-img>

          <ion-card-header>
            <ion-card-title>
              {{ pokemon.name }}
            </ion-card-title>
          </ion-card-header>

        </ion-card>

      </ion-col>

      }

    </ion-row>
  </ion-grid>
  }

  @if (!termoBusca && !carregando && !erroCarregamento) {
  <ion-button class="carregar-mais" expand="block" (click)="carregarMaisPokemons()" [disabled]="carregandoMais">
    {{ carregandoMais ? 'Carregando...' : 'Carregar mais' }}
  </ion-button>
  }

</ion-content>